{:paths     ["src"]
 :deps      {org.clojure/clojure         {:mvn/version "1.11.2"}
             ipim.commons/dynamodb-local {:mvn/version "0.1.4"}}

 :mvn/repos {"central" {:url "https://repo1.maven.org/maven2/"}
             "clojars" {:url "https://repo.clojars.org/"}
             "release" {:url "s3://ipim-test-maven/release?region=us-east-2"}}}
